<template data-controller-name="ui5strap.ActionController">
	<div data-sap-ui-type="ui5strap.Page">
			<div data-sap-ui-aggregation="head">
				<div data-sap-ui-type="ui5strap.Bar" data-inverse="true">
					<div data-sap-ui-aggregation="middle">
						<div data-sap-ui-type="ui5strap.Heading" data-options="BarHeadingCenter" data-text="{i18n>PAGE2_HEADING}"></div>
					</div>
				</div>
			</div>
			<div data-sap-ui-aggregation="body">

				<div data-sap-ui-type="ui5strap.ScrollContainer" data-vertical="true">
					<div data-sap-ui-type="ui5strap.Container" data-type="Fluid">
						
						<div data-sap-ui-type="ui5strap.Paragraph" data-text="{i18n>PAGE2_LEAD}"></div>
						 <div >
		                <div data-sap-ui-type="ui5strap.Panel" data-title="Page 2 Time"> </div>
			            <div data-sap-ui-type="tld__domain.shared__lib.Clock" class="dl-clock"></div>
			            </br>
			            </br>			            
			           <div data-sap-ui-type="ui5strap.Image" data-src="./apps/myapp1/img/responsive_web_design.png"></div>
			            <div data-sap-ui-type="ui5strap.Button" data-type="ui5strap.Button" data-text = "hello World " data-size="ui5strap.Large"></div>
						
						</div>
					</div>
				</div>
			</div>
	</div>
	

</template>